<!DOCTYPE html>
<html>

<head>
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

  {% include meta.html %}

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml"/>
  <link href='{{ site.baseurl }}/css/fonts.google.css' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <link href='{{ site.baseurl }}/css/skills.css' rel='stylesheet' type='text/css'>
  <link href='//cdn.jsdelivr.net/npm/devicons@1.8.0/css/devicons.min.css' rel='stylesheet'>

</head>

<body>

  <div class="intro-header">
    {% include head.html %}
  </div>


  <div id="main" role="main" class="container" style="overflow: visible;">
    <h1>About</h1>
    {{ content }}
    <h2>Skills</h2>
    <div class="row">
      <div class="column">
        {% include skills.html proglang=site.data.pl category="Programming languages" %}
      </div>
      <div class="column">
        {% include skills.html proglang=site.data.fe category="Front End" %}
      </div>
    </div>
    <div class="row">
      <div class="column">
        {% include skills.html proglang=site.data.be category="Back End" %}
      </div>
      <div class="column">
        {% include skills.html proglang=site.data.misc category="Misc" %}
      </div>
    </div>
    <div class="row">
      <div class="column">
        {% include skills.html proglang=site.data.other category="Other" %}
      </div>
      <div class="column">
        {% include skills.html proglang=site.data.ssi category="Interests" %}
      </div>
    </div>

  </div>

  <div class="wrapper-footer">
    <div class="container">
      <footer class="footer">
        <div class="svg-icon">
          {% include svg-icons.html %}
        </div>
      </footer>
    </div>
  </div>

  {% include analytics.html %}
</body>

</html>